# Web & Executor
PORT_WEB=3003
PORT_EXECUTOR=4001
EXECUTOR_ORIGIN=http://127.0.0.1:4001
NEXT_PUBLIC_EXECUTOR_ORIGIN=http://127.0.0.1:4001

# Mode
NODE_ENV=development
BTCTURK_ENABLE_LIVE=false

# DB (opsiyonel)
POSTGRES_USER=spark
POSTGRES_PASSWORD=spark
POSTGRES_DB=sparkdb
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432